{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  


  <!-- Google Fonts -->
  <link
    href="{%static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'%}"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="preconnect" href="{%static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{%static 'https://fonts.gstatic.com % '}" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Pacifico&display=swap %'}"rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static  'assets/css/style.css'%}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Ravi Shrestha</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>Web developer</span></h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/rabiiiii18" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.facebook.com/fb.rabishresthaa" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/rabii_dgaf/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/ravi-shrestha-279077238/" class="linkedin"><i
            class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">
      {% for profile in info %}
      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/me.jpg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX &amp; Graphic Designer</h3>
          <p class="fst-italic">
            {{profile.description }}
          </p>
          <div class="row">
            <div class="col-lg-6">

              <ul>

                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ profile.birthday }}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{ profile.website }}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ profile.phone }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ profile.city }}</span></li>

              </ul>


            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ profile.age }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ profile.degree }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ profile.email }}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{ profile.freelance }}</span>
                </li>
              </ul>
            </div>
          </div>
          <p>
            {{profile.additional_info}}
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">
      {% for client in client %}
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{client.happy_client}}"
              data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>

          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{client.projects}}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{client.hour_support}}"
              data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{client.awards}}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>
      {% endfor %}
    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">
      <div class="section-title">
        <h2>Technicals Skills</h2>
      </div>
      <div class="row skills-content">
        {% for skill in skills %}
        <div class="col-md-6">
          <div class="progress">
            <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{ skill.percentage }}%;">
              </div>
              <!-- <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        {%for intrest in intrest%}
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <!-- <i class="ri-file-list-3-line" style="color: #11dbcf;"></i> -->
            <h3>{{intrest.intrest}}</h3>
          </div>
        </div>

        {% endfor %}
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          {% for test in test %}
          <div class="swiper-slide">
            <div class="testimonial-item">

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{test.message}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src={{test.image.url}} class="testimonial-img" alt="">
              <h3>{{test.name}}</h3>
              <h4>{{test.post}}</h4>
            </div>

          </div><!-- End testimonial item -->
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            {%for summary in summary%}
            <h4>{{summary.name}}</h4>
            <p>{{summary.desc}}</summary>
            </p>
            <p>
            <ul>
              <li>{{summary.address}}</li>
              <li>{{summary.phone}}</li>
              <li>{{summary.email}}</li>
            </ul>
            </p>
            {% endfor %}
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            {% for education in education %}

            <h4>{{education.edu_name}}</h4>
            <h5>{{education.years}}</h5>
            <p><em>{{education.school}}</em></p>
            <p>{{education.desc}}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production
                communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.
              </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the
                design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        {%for serv in serv%}
        <div class="col-md-4 col-md-4 d-flex align-items-stretch">

          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">{{serv.name}}</a></h4>
            <li>{{serv.p1}}</li>
            <li>{{serv.p2}}</li>
            <li>{{serv.p3}}</li>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <!-- <li data-filter=".filter-app">UI/UX</li>
            <li data-filter=".filter-web">Web</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        {% for portfolio in portfolio%}


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{portfolio.image.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{portfolio.types}}</h4>
              <p>{{portfolio.name}}</p>
              <div class="portfolio-links">
                <a href="{{portfolio.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="{{portfolio.name}}">
                  <i class="bx bx-plus"></i>
                </a>

                <a href="#" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                  class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
  </section><!-- End Portfolio Section -->

  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>{{profile.city}}</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://github.com/rabiiiii18" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.facebook.com/fb.rabishresthaa" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/rabii_dgaf/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/ravi-shrestha-279077238/" class="linkedin"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>{{profile.email}}</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>{{profile.phone}}</p>
          </div>
        </div>
      </div>

      <form method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
      {% endfor %}
    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="{%static 'https://kit.fontawesome.com/7be1a40ae8.js'%}" crossorigin="anonymous"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js ' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>


  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>